/* #4494B4 (Light Navy Blue) #DDE5F1 (Very Light Blue) #1E303E (Dark Blue) #59535D (Purple) #6686A2 (Med Blue) */
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #fbf9ff;
}

.nav-main {
  width: 100%;
  background-color: #303030;
  height: 70px;
  color: white;
  z-index: 2;
}

.content {
  padding: 30px;
  z-index: 2;
}
 
 .nav-main .logo {
  float: left;
  height: 40px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 40px;
  z-index: 2;
 }

 .nav-main > ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
  z-index: 2;
 }

 .nav-main >ul >li {
  float: left;
 }

 .nav-item {
  display: inline-block;
  padding: 10px 15px;
  height: 40px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  z-index: 2;
 }

 .nav-item:hover {
  background-color: #444;
 }

.nav-content {
  position: absolute;
  top: 70px;
  overflow: hidden;
  background-color: #303030;
  max-height: 0;
  z-index: 2;
}

.nav-content a {
  color: white;
  text-decoration: none;
}

.nav-content a:hover {
  text-decoration: none;
}

.nav-sub {
  padding: 15px;
}

.nav-sub ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-sub ul li a {
  display: block;
  padding: 5px 0;
}

.nav-item:focus {
  background-color: #444;
}

.nav-item:focus ~ .nav-content {
  max-height: 400px;
  -webkit-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}


.parent {
  position: absolute;
  overflow: hidden;
  height: 954px;
  width: 60%;
  background: #e8f5e5;
  z-index: 1;
  padding-left: 5px;

}

.scrollable {
  overflow-y: scroll;
  padding: 0 17px 0 0;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  float: right;
  background: #e8f5e5;
  margin-bottom: 1px;
}

.form {
  float: right;
  background: #77A859;
  width: 40%;
  height: 954px;
  margin-left: 50%;
  text-align: center;
  z-index: 1;
  color: #FFF;
  letter-spacing: 1px;
}

p {
  font-size: 24px;
}

input[type=text], #dietres{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  padding-left: 20px;
  word-wrap: break-word;
}

tbody, th {
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: rgba(195, 226, 182, 1);
}


button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #26421A;
  font-family: inherit;
  font-size: 20px;
  padding: .5em 1em;
  border: transparent;
  text-decoration: none;
}

input[type="button"] {
  background: rgba(255, 133, 133, 1);
  border-radius: 4px;
  font-family: inherit;
  border: transparent;text-decoration: none;
}